@page "/"
@using CarRental.Business.Classes
@using CarRental.Common.Interfaces
@using CarRental.Common.Enums
@inject BookingProcessor bp

<PageTitle>Car Rental Assignment</PageTitle>

<h1>Car Rental Assignment</h1>
<div class="row">
    <h2>Customers</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SSN</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in bp.GetCustomers())
            {
                <tr>
                    <td>@customer.Ssn</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                </tr>
            }
        </tbody>
    </table>

</div>
<br />
<div class="row">
    <h2>Vehicles</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Make</th>
                <th scope="col">Odometer</th>
                <th scope="col">Cost Km</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">$ Day</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in bp.GetVehicles())
            {
                <tr>
                    <td>@vehicle.RegNo</td>
                    <td>@vehicle.Make</td>
                    <td>@vehicle.Odometer</td>
                    <td>@vehicle.CostPerKilometer</td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.CostPerDay</td>
                    <td>@vehicle.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="row">
    <h2>Bookings</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Customer</th>
                <th scope="col">Km Rented</th>
                <th scope="col">Km Returned</th>
                <th scope="col">Rented</th>
                <th scope="col">Returned</th>
                <th scope="col">Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in bp.GetBookings())
            {
                <tr>
                    <td>@booking.RegNo</td>
                    <td>@($"{booking.Customer.LastName} {booking.Customer.FirstName} ({booking.Customer.Ssn})")</td>
                    <td>@booking.KmRented</td>
                    <td>@booking.KmReturned</td>
                    <td>@booking.Rented</td>
                    <td>@booking.Returned</td>
                    <td>@booking.Cost</td>
                    <td>@booking.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>
